.footer {
  display: flex;
  justify-content: end;
  width: 100%;
  /* left: 700px;
  top: 350px; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 36px;
  color: #000000;
  padding: 10px;
}

a {
  color: #000000;
}

p {
  margin: 0px
}

@media (width <= 390px) {
  .footer {
    position: initial;
    justify-content: center;
    line-height: 25px;
    flex-wrap: wrap;
    padding: 0px 20px;
    color: #000000;
  }
  a {
    color: #000000;
  }
}