.modal {
  display: flex;
  position: absolute;
  width: 90%;
  height: 45%;
  top: 228px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-direction: column;
}

@media (width <= 500px) {
  .modal {
    height: 65%;
  }
}
@media (width <= 390px) {
  .modal {
    width: 90%;
    height: 420px;
    top: 190px;
  }
}

